<button type="button" [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="modalTarget" id="register-button"
    class="boton-enviar" (click)="submitReview()">Send review</button>
<button class="boton-reviews" routerLink="/album-reviews/{{idAlbum}}">Watch reviews</button>
<div class="container">
    <form [formGroup]="formulario">
        <fieldset>
            <div class="rating-container">
                <label for="rating" class="text">Rating:</label>
                <div class="rating-input">
                    <input type="range" id="rating" formControlName="rating" min="1" max="10" step="0.1">
                    <div class="circle" id="circle"
                        [ngStyle]="{ 'background-color': getColorForRating(formulario.get('rating')?.value) }">
                        <span id="rating-value">{{ formulario.get('rating')?.value }}</span>
                    </div>
                </div>
            </div>

            <label for="body"></label>
            <textarea id="review-body" formControlName="reviewBody" placeholder="Write your review..."></textarea>

            <div class="selections">

                <div class="text">
                    <label for="favourite">Favourite song:</label>
                </div>
                <div class="select">
                    <select name="favourite" formControlName="favourite">
                        <option [value]="null" selected>-- No selection --</option>
                        <option *ngFor="let song of tracksWithNumbers, let i = index" [value]="i">{{
                            limitarLongitudA25(song.name) }}</option>
                    </select>
                </div>

                <div class="text">
                    <label for="least-favourite">Least favourite song:</label>
                </div>
                <div class="select">
                    <select name="least-favourite" formControlName="worst">
                        <option [value]="null" selected >-- No selection --</option>
                        <option *ngFor="let song of tracksWithNumbers, let i = index" [value]="i">{{
                            limitarLongitudA25(song.name) }}</option>
                    </select>
                </div>

                <div class="text">
                    <label for="underrated">Underrated song:</label>
                </div>
                <div class="select">
                    <select name="underrated" formControlName="underrated">
                        <option [value]="null" selected>-- No selection --</option>
                        <option *ngFor="let song of tracksWithNumbers, let i = index" [value]="i">{{
                            limitarLongitudA25(song.name) }}</option>
                    </select>
                </div>

                <div class="text">
                    <label for="overrrated">Overrated song:</label>
                </div>
                <div class="select">
                    <select name="overrated" formControlName="overrated">
                        <option [value]="null" selected>-- No selection --</option>
                        <option *ngFor="let song of tracksWithNumbers, let i = index" [value]="i">{{
                            limitarLongitudA25(song.name) }}</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </form>
</div>