<nav class="navbar">
    <ul class="nav-list">
        <li>
            <button class="logo-button">
                <img src="../../../../favicon.ico" alt="Mi Imagen" id="logo">
            </button>
        </li>
        <li><a routerLink="home" id="albumize">albumize</a></li>
        <li><a [routerLink]="['/home', '1']" class="btn-nav" id="">Home</a></li>
        <li><a href="#" routerLink="/about"class="btn-nav" class="btn-nav">About</a></li>
       
    </ul>
    <div class="search-bar">
        <form [formGroup]="formulario" (ngSubmit)="search()" class="barra-busqueda">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Search an album or artist" formControlName="nombre">
        </form>
        <!-- Button trigger modal -->
<div class="dropdown">
        <button id="user-profile" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{user?.nombre?.substring(0,1)}}{{user?.apellido?.substring(0,1) }}
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" [routerLink]="['/account', this.idLocal, 'main']">Your profile</a></li>
            <li><a class="dropdown-item" [routerLink]="['/account', this.idLocal, 'reviews']">Your reviews</a></li>
            <li><a class="dropdown-item" (click)="onLogout()">Logout</a></li>
        </ul>
    </div>
    </div>
</nav>