ul {
    list-style-type: none;
    padding: 0;
}

.fade-in {
    animation: fadeIn 1s ease;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  h3{
    color: white;
    margin-top:8rem;
    margin-left: 38rem;
    margin-bottom: 8rem;
  }