

.contenedor {
    padding: 3rem 0 0 3rem;

}

ul {
    list-style-type: none;
    padding: 0;
}

.fade-in {
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h3 {
    color: white;
    margin-top: 8rem;
    margin-bottom: 8rem;
    margin-left: 24rem;
}

hr{
    margin-right: 4rem;
    margin-bottom: 0;
}

h4{
    margin-left: 0.5rem;
}

.sort{
    margin-top: 1rem;
    display: flex;
}

.opciones{
    margin-left: 1rem;
}

select{
    margin-top: 0.4rem;
    background-color: rgb(42,42,42);
    color: white;
    border: none;
    height: 2.5rem;
    border-radius: 3px;
}

select:hover{
    background-color: #AC01F8;
    transition: 0.3s ease;
}

.text {
    font-size: x-large;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

p{
    margin-left: 1rem;
    font-size: large;
    margin-top: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

@keyframes colorChange {
    0% { color: #ffffff; }
    50% { color: #818181; }
    100% { color: #ffffff; }
  }
  
  .loading-message {
    animation: colorChange 1.5s infinite;
  }