<div class="row border border-secondary contenedor profile-user">
    <div class="col">
        <h2 class="text-left">Your Reviews</h2>
        <p>In order to edit a specific review, you can click on the album icon of the review</p>
        <hr>
        <ng-container class="fade-in">
            <ul *ngIf="reviewsArray.length > 0">
                <li *ngFor="let review of reviewsArray">
                    <app-review-in-profile-page [review]="review"></app-review-in-profile-page>
                </li>
            </ul>            
        </ng-container>
        <ng-container *ngIf="reviewsArray.length === 0" class="fade-in">
            <h3>There are not reviews yet!</h3>
        </ng-container>
            
    </div>
</div>