<div class="container-footer" id="footer">
    
    <div class="linea-negra">

    </div>
    <div class="linea-footer">
        <div class="linea1"></div>
        <div class="linea2"></div>
        <div class="linea3"></div>
    </div>
    <div class="container-titulo-footer">
        <div class="titulo-footer">
            <div class="logo-albumize">
                <img src="../../../../favicon.ico" alt="Mi Imagen" id="logo">
             </div>
            <div class="albumize">
               <h1>albumize</h1>
            </div>
        </div>
        
    </div>
    <div class="seccion-33">
         <div class="container-datos-seccion">
        
            <div class="seccion-follow1">
                <div class="div-contact">
                    <p class="parrafo-contact">Contact Us</p>
                </div>
                <div class="div-descripcion-contact">
                    <p class="parrafo-descripcion-contact">Av. Dorrego 281, B7600CLF Mar del Plata, Provincia de Buenos Aires, Argentina </p>
             
                    <p class="parrafo-descripcion-contact">Phone Number: +54 223 480-1220</p>
                    <p class="parrafo-descripcion-contact">E-mail: albumize@gmail.com</p>

                </div>
                
            </div>
            <div class="seccion-follow2">
                <div class="div-follow"><p class="parrafo-follow">Follow Us</p></div>
                <div class="contenedor-logo-copy">
                    <div class="div-logos">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-x-twitter"></i>
                        <i class="fa-brands fa-facebook-f"></i>
                    </div>
                    <div class="div-copyright">
                        <div class="albumize-inc">
                            <i class="fa-regular fa-copyright"></i>
                            <p class="reserved-text">ALBUMIZE, inc. All right reserved</p>
    
                        </div>
                        
                    </div>

                </div>
               
            </div>
            <div class="seccion-follow3">
                <div class="div-contact">
                    <p class="parrafo-contact">Explore</p>
                </div>
                <div class="div-descripcion-contact">
                    <a class="parrafo-descripcion-explore" href="#" routerLink="home">home</a>
                    <a class="parrafo-descripcion-explore" href="/about" (click)="onAboutClick()">about</a>



                    <a class="parrafo-descripcion-explore">Terms</a>
                    <a class="parrafo-descripcion-explore">Privacy</a>

                </div>
            </div>

       
        

         </div>
    </div>
</div>
