@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500;700;1000&display=swap');

/* Nueva parte */

.navbar {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    width: 100%;
    height: 4rem;
}



@media(max-width:1080px) {
    .navbar {
        height: auto;
       padding: 0.5rem 0;
    }
}

.cont-todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}


.cont-logo {
    display: flex;
    width: 33.33%;
    height: 80%;
}

.div-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.logo-button {
    padding: 0;
    outline: none;
    background-color: #AC01F8;
    border: 2px solid #AC01F8;
    border-radius: 50%;
}

@media(max-width:1080px) {
    img {
        width: 2rem;
        height: 2rem;
    }
}

.div-albumize {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
}

#albumize {
    text-decoration: none;
    color: #fff;
    font-weight: 1000;
    font-size: 25px;
    font-family: 'Nunito';
}

@media(max-width:1080px) {
    #albumize {
        font-size: 18px;

    }
}

#albumize:hover {
    color: #AC01F8;

}

.cont-home-about {
    width: 33.33%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.cont-login-busqueda {
    width: 33.33%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.div-home {
    width: 4rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    border-radius: 0.2rem;
}

.div-home:hover {
    background-color: #AC01F8;

}

.div-about {
    width: 4rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    border-radius: 0.2rem;
}

.div-about:hover {
    background-color: #AC01F8;
}

@media(max-width:1080px) {

    .div-home,
    .div-about {
        width: 3.5rem;
        height: 2.5rem;
    }
}

.btn-nav {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Roboto';
}

@media(max-width:1080px) {
    .btn-nav {
        font-size: 0.8rem;
    }

}

.cont-login-busqueda {
    width: 33.33%;
    height: 80%;
    display: flex;
}

.barra-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.div-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: #AC01F8;
    border-radius: 0.2rem 0 0 0.2rem;
}

@media(max-width:1080px) {
    .div-icon {
        width: 2.5rem;
        height: 2.5rem;
    }
}


.div-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-button {
    background-color: white;
    border: none;
    color: black;
    font-family: 'Roboto';
    height: 3rem;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0.2rem;
    margin-right: 1rem;
}

@media(max-width:1080px) {
    #register-button {
        font-size: 0.8rem;
        height: 2.5rem;
    }
}

#register-button:hover {
    background-color: #AC01F8;
    color: white;
}

.fa-search {
    font-size: 1.5rem;

}

.input-place {
    height: 3rem;
    width: 13rem;
    border: none;
    background-color: #AC01F8;
    outline: none;
    border-radius: 0 0.2rem 0.2rem 0;
    color: white;
}

@media(max-width:1080px) {
    .input-place {
        height: 2.5rem;
        width: 15rem;
    }
}

.input-place::placeholder {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

@media(max-width:1080px){
    .cont-todo{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
    }

    .cont-logo{
        
        grid-column: 1/3;
        width: 100%;
    }

    .cont-home-about{
        grid-column: 3/5;
        width: 100%;
    }

    .cont-login-busqueda{
        width: 100%;
        grid-row: 2/3;
        grid-column: 1/5;
    }

}