<div>
  <nav class="navbar">
    <ul class="nav-list">
      <li>
        <button class="logo-button" (click)="irHome()">
          <img src="../../../../favicon.ico" alt="Mi Imagen" id="logo">
      </button>
        
      </li >
        <li><a href="#" routerLink="home" id="albumize">albumize</a></li>
        <li ><a href="#" routerLink="home" class="btn-nav">Home</a></li>
        <li ><a href="#" class="btn-nav">About</a></li>
        <li ><a href="#" class="btn-nav">Contact</a></li>
        
    </ul>
    <div class="search-bar">
      <form [formGroup]="formulario" (ngSubmit)="search()" class="barra-busqueda">
            <i class="fa fa-search"></i>
              <input type="text" placeholder="¿Qué deseas buscar?" formControlName="nombre">
            
        </form>
        <!-- Button trigger modal -->
           <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="register-button">
             Login
            </button>
        
    </div>
  </nav>

</div>


