

<!-- Imagen de home junto con titulo -->
<div class="contenedor-foto-fondo">
    <div class="contenedor-albumize-busqueda">
        
        <div class="marco"></div>
        <div class="cont-text">
            <div class="contenedor-albumize">
                <h1 class="h1-albumize">Welcome to Albumize</h1>
            </div>
            
            <div class="contenedor-desc-albumize">
                <div class="contenedor-subtitle">
                        <h2 class="h2-subtitle">Discover new music</h2>
                </div>
            </div>

        </div>    
    </div>
        
</div>
<!-- Parte tarjetas de new releases -->
<div id="todo-home">
    <div class="contenedor-titulo-tarjetas">
        <div class="contenedor-titulo">
            <div class="titulo">
                <p class="parrafo-titulo">New Releases</p>
            </div>
            <div class="linea-titulo"></div>
        </div>
        <div class="container-tarjetas">
            <div class="tarjetas">
                <div *ngFor="let album of new_releases;" class="div-tarjetas">
                    <a class="album-content" routerLink="/album/{{album.id}}">
                            <div class="div-imagen">
                                <img class="imagen-album" [src]="album.images[1].url" alt="">
                            </div>
                            <div class="contenedor-toda-info">
                                <div class="info-album">
                                    <div class="div-info">
                                        <div class="div-parrafo-name">
                                            <p class="parrafo-name">{{album.name}}</p>
                                        </div>
                                        <div class="div-parrafo-artist">
                                            <p class="parrafo-artist">{{album.release_date}} • {{album.artists[0].name}}</p>
    
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="album-puntaje">
                                    <div class="contenedor-based-circulo">
                                        <div class="contenedor-based">
                                            <div class="alineacion-circulo">
                                                <div class="div-score">
                                                    <p class="parrafo-score">Albumize Score</p>
                                                </div>  
                                                <div class="div-based">
                                                    <p class="parrafo-based">Based on member reviews</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="circulo-puntaje-contenedor">
                                            <div class="circulo-puntaje" [ngClass]="{
                                            
                                                'score-10': calcularScore(album.id) === 10,
                                                'score-7to10': (calcularScore(album.id)) < 10 && (calcularScore(album.id)) >= 7,
                                                'score-4to7': (calcularScore(album.id)) < 7 && (calcularScore(album.id)) >= 4,
                                                'score-less-than-4': (calcularScore(album.id)) < 4 && (calcularScore(album.id)) > 0
                                              }">
                                                <p class="parrafo-circulo-puntaje">
                                                    {{calcularScore(album.id) === -1? 'ND' : calcularScore(album.id)}}
                                                </p>
                                              </div>
                                                
                                                  
                                        </div>                                       
                                    </div>
                                    
                                </div>
                                <div class="div-linea">
                                    <div class="linea-3colores">
                                        <div class="linea-color1"></div>
                                        <div class="linea-color2"></div>
                                        <div class="linea-color3"></div>
                                    </div>
    
                                </div>
                            </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="container-tarjetas">
            <div class="tarjetas">
                <div *ngFor="let album of new_releases2;" class="div-tarjetas">
                    <a class="album-content" routerLink="/album/{{album.id}}">
                        
                            <div class="div-imagen">
                                <img class="imagen-album" [src]="album.images[1].url" alt="">
                            </div>
                            
                            <div class="contenedor-toda-info">
                                <div class="info-album">
                                    <div class="div-info">
                                        <div class="div-parrafo-name">
                                            <p class="parrafo-name">{{album.name}}</p>
                                        </div>
                                        <div class="div-parrafo-artist">
                                            <p class="parrafo-artist">{{album.release_date}} • {{album.artists[0].name}}</p>
    
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="album-puntaje">
                                    <div class="contenedor-based-circulo">
                                        <div class="contenedor-based">
                                            <div class="alineacion-circulo">
                                                <div class="div-score">
                                                    <p class="parrafo-score">Albumize Score</p>
                                                </div>
                                                
                                                <div class="div-based">
                                                    <p class="parrafo-based">Based on member reviews</p>
                                                </div>
        

                                            </div>
                                            
                                        </div>
                                        <div class="circulo-puntaje-contenedor">
                                            <div class="circulo-puntaje" [ngClass]="{
                                            
                                                'score-10': calcularScore(album.id) === 10,
                                                'score-7to10': (calcularScore(album.id)) < 10 && (calcularScore(album.id)) >= 7,
                                                'score-4to7': (calcularScore(album.id)) < 7 && (calcularScore(album.id)) >= 4,
                                                'score-less-than-4': (calcularScore(album.id)) < 4 && (calcularScore(album.id)) > 0
                                              }">
                                                <p class="parrafo-circulo-puntaje">
                                                    {{calcularScore(album.id) === -1? 'ND' : calcularScore(album.id)}}
                                                </p>
                                              </div>

                                        </div>
                                        
                                        

                                    </div>
                                    
                                </div>
                                <div class="div-linea">
                                    <div class="linea-3colores">
                                        <div class="linea-color1"></div>
                                        <div class="linea-color2"></div>
                                        <div class="linea-color3"></div>
                                    </div>
    
                                </div>

                            </div>
                       
                    </a>
                </div>
            </div>
        </div>

    </div>
    
</div>
<!-- parte video musical -->

<div class="todo-video">
    <div class="contenedor-titulo2">
        <div class="titulo">
            <p class="parrafo-titulo">Featured Artist</p>
        </div>
    </div>
    
    <div class="contenedor-seccion-video">
        
        <div class="contenedor-video">
            <div class="div-video">
                <video muted controls class="video-1">
                    <source src="assets\videos\TheWeeknd-I FeelItComingft. DaftPunk.mp4" type="video/mp4" class="video-video">
                </video>
            </div>
           
        </div>
        <div class="contenedor-datos-derecha">
            <div class="contenedor-artista-foto">
                <div class="foto-theweeknd">
                    <div class="cont-foto-thewkn"></div>
                </div>
                <div class="titulo-theweeknd">
                    <div class="cont-desc-thewkn">
                        <div class="texto-thewkn"><p class="parrafo-thewkn">Abel Makkonen Tesfaye, known professionally as the Weeknd, is a Canadian singer, songwriter, and record producer.</p></div>
                        <div class="texto-thewkn"><p class="parrafo-thewkn">Born: February 16, 1990 (age 33) Toronto, Ontario, Canada</p></div>
                        <div class="texto-thewkn"> <p class="parrafo-thewkn">Nominations: Grammy Award for Best Rap/Sung Collaboration, PLUS</p></div>
                        <div class="texto-thewkn"> <p class="parrafo-thewkn">Genres: R&B/Soul, Dance/Electronic</p></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-album-foto">
                <div class="foto-album1">
                    <div class="cont-foto-album"></div>
                </div>
                <div class="titulo-album1">
                    <div class="cont-desc-album">
                        <div class="cont-titulo-starboy">
                            <p class="parrafo-starboy">Starboy</p>
                        </div>
                        <div class="cont-desc-starboy">
                            <p class="parrafo-desc-starboy">Starboy is the title of the third studio album by the Canadian singer and songwriter The Weeknd. XO and Republic Records released the album on November 25, 2016. The album features various guest artists such as Daft Punk, Lana Del Rey, Future, and Kendrick Lamar.</p>

                        </div>
                        
                       
                    </div>
                </div>
                

            </div>
            

        </div>
    
    </div>

    <div class="seccion-puntaje-video">
        <div class="div-puntaje">
            <div class="titulo-video-cancion">
                <div class="div-titulo-cancion">
                    <p class="parrafo-nombre-cancion">The Weeknd - I Feel It Coming ft. Daft Punk (Official Video)</p>
                </div>
                <div class="div-score-desc">
                    <div class="marco-song">
                        <p class="parrafo-song">Song</p>

                    </div>
                    

                </div>
            </div>
            <div class="circulo-score">
                <div class="div-vevo">
                    <p class="parrafo-vevo">VEVO</p>

                </div>
                
            </div>
        </div>
        <div class="div-theweeknd">
            <p class="parrafo-theweeknd-title">The Weeknd</p>
        </div>

    </div>

</div>

