@import url('https://fonts.cdnfonts.com/css/titania');
@import url(https://db.onlinewebfonts.com/c/f02b8ce0d397cd405edeff61d1fec6d8?family=Frisans+Std+Black);
@import url(https://db.onlinewebfonts.com/c/bdd3635a9f49688b8c805673e2b7e815?family=Steagal+W01+Bold);

               
.contenedor-foto-fondo{
   width: 100%;
   height: 100vh;
   background-position: center;
   background-color: black;
   background-image: url(src\assets\images\fond-dj-editado.jpg); 
   display: flex;
   justify-content: center;
   align-items: center;
   
  

}
@keyframes humoAnimacion {
   0% {
     opacity: 1;
     transform: scale(1);
   }
   50% {
     opacity: 1;
     transform: scale(1.3);
   }
   100% {
     opacity: 1;
     transform: scale(1);
   }
 }

 @keyframes humoAnimacion2 {
   0% {
     opacity: 1;
     transform: scale(1);
   }
   50% {
     opacity: 1;
     transform: scale(1.2);
   }
   100% {
     opacity: 1;
     transform: scale(1);
   }
 }





.contenedor-albumize-busqueda{
   display: flex;
  
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 70%;

 
}
.contenedor-albumize{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.h1-albumize{
   font-family: 'Dosis', "Helvetica Neue", "Helvetica", Helvetica, Arial,sans-serif;
   text-transform: uppercase;
   color: white;
   width: 100%;
  
   font-size: 5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   animation: humoAnimacion 20s infinite linear;
   

}

@media(max-width:1080px) {
   .h1-albumize {
       font-size: 1.5rem;
       animation: humoAnimacion2 20s infinite linear;
   
   }
   
}

.contenedor-subtitle{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 4rem;
}
.h2-subtitle{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   text-transform: uppercase;
   font-weight: 200;
   font-size: 1.5rem;
   
}
@media(max-width:1080px) {
   .h2-subtitle {
       font-size: 1rem;
   }
   
}

.cont-text{
   position: absolute;
   z-index: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
.marco{
   width: 20rem;
   border: 6px solid #AC01F8;
   

   height: 25rem;
   position: relative;
}






.contenedor-titulo{
   width: 100%;
   /* border-bottom:1px solid  white; */
   margin-bottom: 1rem;
   height: 20rem;
   background-color: black;
   /* border-top: 0.5rem solid #AC01F8; */
   display: flex;
   justify-content: center;
   align-items: center;


}
.titulo{
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   align-items: center;
   height: 55%;
}

.parrafo-titulo{
   margin: 0;
   color: white;
   /* font-family: proxima-nova, sans-serif; */
  /*  font-family: 'Dosis', "Helvetica Neue", "Helvetica", Helvetica, Arial,sans-serif;  */
   font-family: "Frisans Std Black";
   text-transform: uppercase;
 
   font-style: normal;
   font-size: 2.5rem;

}
.parrafo-desc-titulo{
   width: 100%;
   font-size: 1rem;
   font-weight: 100;
   display: flex;
   align-items: center;
   font-family: 'Dosis', "Helvetica Neue", "Helvetica", Helvetica, Arial,sans-serif;
   text-transform: uppercase;


}
/* .parrafo-desc-titulo2{
   width: 100%;
   font-size: 1rem;
   font-weight: 100;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Dosis', "Helvetica Neue", "Helvetica", Helvetica, Arial,sans-serif;
   text-transform: uppercase;


} */
@media(max-width:1080px) {
   .parrafo-titulo{
      font-size: 2rem;
   }
   .parrafo-desc-titulo {
       font-size: 0.8rem;
       width: 90%;
       text-align: center;
       
   
   }
   
   .div-parrafos-juntos{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }
   
}

/* Parte tarjetas ------------------------------------------------------------------*/
#todo-home{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   
   
  
}
.contenedor-titulo-tarjetas{
   width: 85%;
   height: 100%;
   margin-top: 2rem;

}

.div-tarjetas{
   width: 22%;
   height: 80%;
   margin-top: 2rem;
   margin-bottom: 2rem;
}

.tarjetas{
  
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.container-tarjetas{
   width:100%;
   margin: 0;
}
@media(max-width:1080px) {
   
   .tarjetas{
      display: flex;
      flex-direction: column;
   }
   .div-tarjetas{
      width: 85%;
      height: 80%;
      margin-top: 2rem;
      margin-bottom: 2rem;
   }
   
}
.album-content{
   background-color: #f2f2f2;
   border-radius: 7px;
   

   width: 100%;
   height: 100%;
   padding: 0;
   border: none;
   text-decoration: none;
   cursor: pointer;
   font-family: 'Roboto';
   display: flex;
   flex-direction: column;
   text-decoration: none;
   transition: transform 0.3s ease-in-out;
   

  
}
.album-content:hover{
   transform: scale(1.05);
   border: none;


}

.div-imagen{
    width: 100%;
   height: 60%;
   display: flex;
   /* border-radius:7px 7px 0 0 ;
   background-color: #AC01F8; */
   justify-content: center;
   align-items: center;

  

  
}
.imagen-album{
   margin: 0;
   width: 100%;
   height: 100%;
   border-radius:4px 4px 0 0 ;
}
.div-linea{
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
   width: 100%;
   height: 0.7rem;
   display: flex;
   justify-content: center;
}
.linea-3colores{
   
   width: 92%;
   height: 100%;
  
   border-radius: 5px;
   display: flex;

}
.linea-color1{
   width: 33.33%;
   background-color: #AC01F8;
   border-radius: 5px 0 0 5px;

}
.linea-color2{
   width: 33.33%;
   background-color: rgb(218, 26, 243);
}
.linea-color3{
   width: 33.33%;
   background-color: #821dad;
   border-radius: 0 5px 5px 0;
}


.info-album{
   display: flex;
   justify-content: center;
   height: 45%;
   margin: 0;

   
   width: 100%;
}
.div-info{
   width: 92%;
   display: flex;
   height: 100%;
   justify-content: center;
   margin: 0;
   
   flex-direction: column;
   
}
.div-parrafo-artist{
   display: flex;
   width: 100%;
   /* justify-content: center; */
   height: 50%;
   border-bottom: 1px solid #808080;
   margin-bottom: 0.5rem;
   
}
.div-parrafo-name{
   
   width: 100%;
   height: 50%;
   display: flex;
   align-items: center;
   margin-top: 0.5rem;
}


.parrafo-name{
   font-size: 25px;
   font-weight: bold;
   font-family: proxima-nova, sans-serif;
font-style: normal;

   margin: 0;
  
   color: black;
   
}
.parrafo-artist{

  margin:0;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
   color: #808080;
   display: flex;
   align-items: center;
   
}





.album-puntaje{
   height: 45%;
   width: 100%;
  
   display: flex;
   justify-content: center;
}
.contenedor-based{
   display: flex;
   justify-content: center;
   align-items: center;
  
}
.alineacion-circulo{
   height: 4rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  
}
.contenedor-based-circulo{
   width: 92%;
   height: 100%;

   display: flex;
   justify-content: space-between;
}

.contenedor-toda-info{
   width: 100%;
   height: 40%;
   display: flex;
   flex-direction: column;
}

.circulo-puntaje-contenedor{
   height: 100%;
   width: 30%;

   display: flex;
   justify-content: center;
   align-items: center;
}
.circulo-puntaje{
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
   background-color: grey;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0 4px 10px rgba(15, 15, 15, 0.5); 

}
.parrafo-circulo-puntaje{
   margin: 0;
   font-family: proxima-nova, sans-serif;
   font-size: 2rem;
   color: white;
}
.div-score{
   display: flex;
   width: 100%;
   height: 50%;
   align-items: center;
   margin: 0;
}
.div-based{
   display: flex;
   width: 100%;
   height: 50%;
   
   align-items: center;
   margin: 0;

}
.parrafo-score{
   margin-top: 1rem;
   font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
   color: black;
   line-height: 1.25rem;
   


}
.parrafo-based{
  
   margin: 0;
   font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 0.9rem;
  color: black;
   
  

}

/* ////Parte del video ----------------------------------------------------------------------------------------------- */
.todo-video{
   width: 100%;
   margin-bottom: 3rem;

   display: flex;
   flex-direction: column;
   align-items: center;
}

.parrafo-titulo2{
   margin: 0;
   color: white;
   font-family: proxima-nova, sans-serif;
   font-style: normal;
   font-size: 1.2rem;
   

}

.contenedor-seccion-video{
   width: 100%;
   
   display: flex;

  

}


.contenedor-video{
   width: 57%;
   display: flex;
   justify-content: center;
   align-items: center;
   /* border-radius: 10px; */
   
   height: 100%;


}
.video-puntaje{
   width: 100%;
   height: 40%;
   

}
.video-1{
   width: 100%;
   height: 100%;
   border-radius:8px 8px 0 0 ;
  
 
   margin: 0;
}
.div-video{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   /* border-radius: 10px; */
}


.contenedor-titulo2{
   
   width: 100%;
   /* border-bottom:1px solid  white; */
   margin-top: 1rem;
   margin-bottom: 3rem;
   height: 20rem;
   background-color: black;
   /* border-top: 0.5rem solid #AC01F8; */
   display: flex;
   justify-content: center;
   align-items: center;

}

.contenedor-datos-derecha{
   display: flex;
   flex-direction: column;
   width: 43%;
   /* background-color: #f2f2f2; */

}
.contenedor-artista-foto{
   
   width: 100%;
   height: 50%;
   display: flex;


}
.titulo-theweeknd{
   width: 50%;
   height: 100%;
  
   display: flex;
   justify-content: center;
   align-items: center;
}
.cont-desc-thewkn{/*parte nueva-------------------------------*/
   width: 90%;
   height: 90%;
   
   display: flex;
   justify-content: center;
   align-items: center;



}
.cont-blanco2{/*parte nueva-------------------------------*/
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   align-items: center;
   background-color: #262c31;
   border-radius: 0.4rem;


}
.texto-thewkn{
   width: 100%;
   margin: 0;
}
.parrafo-thewkn{
   width: 100%;
   
   margin-bottom: 0;
   margin-left: 6px;
   font-family: 'Roboto';
  
   color: white;
}
.foto-theweeknd{
   width: 50%;
   height: 100%;
  
   display: flex;
   justify-content: center;
   align-items: center;

}

.cont-foto-thewkn{
   background-image: url(src\assets\images\perfil-theweeknd.jpg);
   background-position: center;
   background-size: cover;
   width: 90%;
   height: 90%;
   border-radius: 5px;
}





.contenedor-album-foto{
   
   width: 100%;
   height: 50%;
   display: flex;
   

}

.titulo-album1{
   width: 50%;
   height: 100%;
  
   display: flex;
   justify-content: center;
   align-items: center;
}
.foto-album1{
   width: 50%;
   height: 100%;
  
   display: flex;
   justify-content: center;
   align-items: center;
}
.cont-foto-album{
   background-image: url(src\assets\images\the_weeknd_starboy-portada.jpg);
  
   background-size: cover;
   width: 90%;
   height: 90%;
   border-radius: 5px;
}
.cont-desc-album{
   width: 90%;
   height: 90%;
   
   display: flex;
   justify-content: center;
   align-items: center;


}
.contenedor-blanco{ 
   width: 100%;
   height: 100%;
   background-color: #262c31;
   border-radius: 0.4rem;
   
   display: flex;
   justify-content: space-around;
   flex-direction: column;

}
.cont-titulo-starboy{
   width: 100%;
   height: 30%;
   display: flex;

   justify-content: center;

}

.parrafo-starboy{
   width: 100%;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
 
   text-transform: uppercase;
   font-size: 2rem;
   font-weight: 500;
   font-family: "Frisans Std Black";
   color: white;
  

}
.cont-desc-starboy{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
}
.parrafo-desc-starboy{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 95%;
   height: 95%;
   margin: 0;
   color: white; 

}

.seccion-puntaje-video{
   width: 100%;
 
   /* background-color: #f2f2f2; */
 
   display: flex;
}
.div-puntaje{
   width: 57%;
   height: 6rem;
   border-radius: 0 0 8px 8px;
   background-color: #f2f2f2;

   display: flex;
}
.titulo-video-cancion{
   width: 75%;

   height: 6rem;
   display: flex;
   align-items: center;
   flex-direction: column;

}
.div-titulo-cancion{
   width: 95%;
   height: 50%;
   display: flex;
   align-items: center;


}
.parrafo-nombre-cancion{
   color: black;
   margin: 0;
   font-size: 23px;
   font-weight: bold;
   font-family: proxima-nova, sans-serif;
font-style: normal;
   
}

.div-score-desc{
   width: 95%;
   height: 50%;
   display: flex;
   align-items: center;

}
.marco-song{
   border: 1px solid #808080;
   border-radius: 2px;
}
.parrafo-song{
   color: #808080;
   margin: 3px;
   



}
.circulo-score{
   width: 25%;
   display: flex;
   justify-content: flex-end;
 
   height: 100%;
}
.div-vevo{
   width: 70%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.parrafo-vevo{
   color: black;
   font-family: "Steagal W01 Bold";
   font-size: 3rem;
   margin: 0;
}





.div-albumize-based{
   width: 60%;

   height: 100%;
   


}
.div-circulo-score{
   width: 40%;
   height: 100%;

   display: flex;
   justify-content: center;
   align-items: center;
}
.div-theweeknd{
   width: 43%;
   height: 6rem;
   display: flex;
   justify-content: center;
   align-items: center;
}
.parrafo-theweeknd-title{
   color: white;
   margin: 0;
   text-transform: uppercase;
   font-size: 4rem;
   font-weight: 700;
   font-family: "Frisans Std Black";

}


.score-10 {
   background-color: #AC01F8; /* o el color que desees para puntajes de 10 */
 }
 
 .score-7to10 {
   background-color: #00ce7a; /* o el color que desees para puntajes entre 7 y 10 */
 }
 
 .score-4to7 {
   background-color: #ffbd3f; /* o el color que desees para puntajes entre 4 y 7 */
 }
 
 .score-less-than-4 {
  background-color:#ff6874; /* o el color que desees para puntajes menores a 4 */
 }
 
 .no-score {
   background-color: gray; /* o el color que desees para puntajes no disponibles */
 }

 .cont-seccion-info{
   display: flex;
   flex-direction: column;
   width: 85%;

 }