<div class="contenedor">
    <div class='review'>
        <div class='details' *ngIf="review">
            <img class="albumIcon" [src]="albumImg" alt="imagenDelAlbum" [routerLink]="'/album/' + album.id">
            <p class='albumTitle' [routerLink]="'/album/' + album.id">{{album.name}}</p>
            <p class='artistName' [routerLink]="'/album/' + album.id">{{album.artists[0].name}}</p>
            <p class='score' [ngClass]="{
                'score-10': review.punctuation == 10,
                'score-7to10': review.punctuation < 10 && review.punctuation >= 7,
                'score-4to7': review.punctuation < 7 && review.punctuation >= 4,
                'score-less-than-4': review.punctuation < 4
                }">{{review.punctuation}}</p>
             <app-share-buttons class="share-buttons"></app-share-buttons>   
            <p class='date'>{{review.date}}</p>
            <!-- Este codigo es para borrar-->
            <p class='date'>{{review.id}}</p>
            <!-- Este codigo es para borrar-->
            <a type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" class="deleteBtn" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash3-fill"  viewBox="0 0 16 16">
                 <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
              </svg></a>
              <!-- Modal -->
              <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="text-black modal-title fs-5" id="exampleModalLabel">Delete a Review</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-black">
                      Are you sure you want to delete your review permanently?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go Back</button>
                      <button (click)="deleteReview()"  type="button" class="btn btn-primary">Yes</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="body" *ngIf="review.review">
            <p>{{review.review}}</p>
        </div>
        <div class = "selections">
            <div *ngIf="review.favourite !== undefined && review.favourite !== null">
                <p class="favorite">Favourite song: {{tracksWithNumbers[review.favourite].name}}</p>
            </div>
            <div *ngIf="review.worst !== undefined && review.worst !== null">
                <p class="worst">Least favourite song: {{tracksWithNumbers[review.worst].name}}</p>
            </div>
            <div *ngIf="review.underrated !== undefined && review.underrated !== null">
                <p class="underrated">Underrated song: {{tracksWithNumbers[review.underrated].name}}</p>
            </div>
            <div *ngIf="review.overrated !== undefined && review.overrated !== null">
                <p class="overrated">Overrated song: {{tracksWithNumbers[review.overrated].name}}</p>
            </div>
        </div>            
    </div>
</div>
    
