@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url('/assets/fonts/Raleway-Medium.ttf') format('truetype');
}

.conteiner{
    margin: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr) 1.2fr;
    width: 80%;
    margin-left: 8rem;
}

.albumIcon{
    height: 15rem;
    width: 15rem;
    border: 0.20rem solid rgb(63, 63, 63);
    border-radius: 10px;
    margin-left: 2rem;
    margin-right: 0.5rem;
}

.names{
    margin-top: 4rem;
}

.albumTitle{
    padding-left: 0;
    font-size: 2.1rem;
    margin-bottom: 0;
    padding-bottom: 0.2rem;
}

.artist{
    font-size: 1.05rem;
    margin-bottom: 0.1rem;
    color: rgb(158, 158, 158);
}

.date{
    font-size: 0.9rem;
    color: rgb(92, 92, 92);
}

.score {
    position: absolute;
    top: 105px;
    width: 115px;
    height: 115px;
    margin-top: 1.8rem;
    margin-bottom: 0.8rem;
    border: 3px solid rgb(63, 63, 63);
    border-radius: 50%;
    font-family: 'Roboto';
    font-size: 2.2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trackStats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
    gap: 2rem
  }

.list{
    border-collapse: collapse;
}

.listName{
    font-weight: bold;
    font-size: 0.91rem;
}

.first{
    margin: 0.1rem;
    font-size: 0.95rem;
    color: rgb(198, 197, 197);
}

.second{
    font-size: 0.85rem;
    color: rgb(153, 153, 153);
}

.third{
    font-size: 0.75rem;
    color: rgb(110, 110, 110);
}

.score-10 {
    background-color: rgb(0, 153, 255);
}
  
.score-7to10 {
    background-color: rgb(20, 225, 37);
}
  
.score-4to7 {
    background-color: rgb(246, 255, 0);
}
  
.score-less-than-4 {
    background-color: rgb(255, 0, 0);
}

.no-score{
    background-color: rgb(198, 197, 197);
}

.image-button {
    margin-top: 10rem;
    width: 140px;
    height: auto;
    transition: transform 0.5s ease;
}

.image-button:hover {
    width: 160px;
    height: auto;
    transform: scale(1.1);
}

.score-and-spotify{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}