<div class="conteiner" *ngIf="album">
    <img class = 'albumIcon'  [src]="album.images[1].url" alt="Imagen del álbum">
    <div class="names">
        <p class="albumTitle">{{album.name}}</p>
        <p class="artist">{{album.artists[0].name}}</p>
        <p class="date">{{album.release_date | date:'yyyy'}}</p>
    </div>
    <div class = 'score-and-spotify'>
        <strong class="score" [ngSwitch]="true"
                [ngClass]="{
                'score-10': score == '10',
                'score-7to10': score < '10' && score >= '7',
                'score-4to7': score < '7' && score >= '4',
                'score-less-than-4': score < '4' && score > '0',
                'no-score': score === 'ND'
                }">
            {{ score }}
        </strong>
        <a class = "spotify" href="https://open.spotify.com/intl-es/album/{{albumId}}" target="_blank">
            <img class="image-button" src="/assets/images/spotify-button.png" alt="Boton enlace a spotify">
        </a>
    </div>
    <div class="trackStats">
        <table class = "list">
            <thead class = "listName">Canción favorita:</thead>
            <tbody>
                <tr class = "first">1. I feel it coming 28%</tr>
                <tr class = "second">2. Die for You 17%</tr>
                <tr class = "third">3. Starboy 5%</tr>
            </tbody>
        </table>
        <table class = "list">
            <thead class = "listName">Peor canción:</thead>
            <tbody>
                <tr class = "first">1. I feel it coming 28%</tr>
                <tr class = "second">2. Die for You 17%</tr>
                <tr class = "third">3. Starboy 5%</tr>
            </tbody>
        </table>
        <table class = "list">
            <thead class = "listName">Canción infravalorada:</thead>
            <tbody>
                <tr class = "first">1. I feel it coming 28%</tr>
                <tr class = "second">2. Die for You 17%</tr>
                <tr class = "third">3. Starboy 5%</tr>
            </tbody>
        </table>
        <table class = "list">
            <thead class = "listName">Canción sobrevalorada:</thead>
            <tbody>
                <tr class = "first">1. I feel it coming 28%</tr>
                <tr class = "second">2. Die for You 17%</tr>
                <tr class = "third">3. Starboy 5%</tr>
            </tbody>
        </table>
    </div>
</div>