.contenedor-sidebar{
    padding-top: 3rem;
    border-top: 1px solid grey;

}

.lista-sidebar{
    list-style: none;

}

.btn-outline-warning{
    border-color: #AC01F8;
    color: #AC01F8;
}

.btn-outline-warning:hover{
    background-color: #AC01F8;
    color: black;
}