<div class="modal fade" #registerModal id="registerBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <div class="logo-header">
                <img src="../../../../favicon.ico" alt="Mi Imagen" id="logo">
                <h1 class="modal-title fs-5" id="albumize-register">albumize</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
                
                <div id="sign-in">
                    <button type="button" class="btn btn-sign-in" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Sign In
                      </button>
                      <button type="button" class="btn btn-register">
                        Register
                      </button>
                </div>
        </div>
        <div class="modal-body">
            <form class="container-form" [formGroup]="formulario" (ngSubmit)="newUser()">
                <div class="form-group col-md-6">
                    <div>
                        <label for="inputName" class="label-title">Nombre</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" id="inputName" placeholder="Ingrese su nombre" formControlName="nombre">
                    </div>
                    <div class="mb-3 text-warning" *ngIf="validar('nombre', 'required')">
                        <p class="mensaje-alerta">Debe ingresar un nombre</p> 
                    </div>
                    <div class="mb-3 text-warning" *ngIf="validar('nombre', 'minlength')">
                        <p class="mensaje-alerta">El nombre debe tener un minimo de 3 caracteres</p> 
                    </div>
                  </div>

                  <div class="form-group col-md-6">
                    <div>
                        <label for="inputApellido" class="label-title">Apellido</label>
                    </div>
                    <div> 
                        <input type="text" class="form-control" id="inputApellido" placeholder="Ingrese su apellido" formControlName="apellido">
                    </div>
                    <div class="mb-3 text-warning" *ngIf="validar('apellido', 'required')">
                        <p class="mensaje-alerta">Debe ingresar un apellido</p> 
                    </div>
                    <div class="mb-3 text-warning" *ngIf="validar('apellido', 'minlength')">
                        <p class="mensaje-alerta">El apellido debe tener un minimo de 3 caracteres</p>
                    </div>
                  </div>
                    <div class="form-group col-md-6">
                        <div>
                            <label for="inputEmail" class="label-title">Email</label>
                        </div>
                        <div>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Ingrese su email" formControlName="email">
                        </div>
                        <div class="mb-3 text-warning" *ngIf="validar('email', 'email')">
                            <p class="mensaje-alerta">El email ingresado es incorrecto</p>
                        </div>
                        <div class="mb-3 text-warning" *ngIf="validar('email', 'required')">
                            <p class="mensaje-alerta">Debe ingresar un email</p>
                        </div>
                        
                    </div>
                    <div class="form-group col-md-6">
                        <div>
                            <label for="inputUser" class="label-title">Usuario</label>
                        </div>
                       <div>
                        <input type="text" class="form-control" id="inputUser" placeholder="Ingrese el usuario" formControlName="userName">
                       </div>
                       <div class="mb-3 text-warning" *ngIf="validar('userName', 'required')">
                        <p class="mensaje-alerta">Debe ingresar un nombre de usuario</p>
                    </div>
                     
                    </div>
                    
                    <div class="form-group col-md-6">
                        <div>
                            <label for="inputPW" class="label-title">Contraseña</label>
                        </div>
                        <div>
                            <input type="password" class="form-control" id="inputPW" placeholder="Ingrese la contraseña" formControlName="password">
                        </div>
                        <div class="mb-3 text-warning" *ngIf="validar('password', 'required')">
                            <p class="mensaje-alerta">Debe ingresar un password</p>
                        </div>
                        
                        
                    </div>
                    
                
                
                <button type="submit" class="btn btn-primary" id="btn-sign" data-bs-dismiss="modal" aria-label="Close" [disabled]="formulario.invalid" >Register</button>
                <div class="mb-3 text-warning" *ngIf="formulario.invalid && formulario.touched">
                    <p class="mensaje-alerta">Debe completar todos los campos antes de registrarse</p>
                  </div>
              </form>
        </div>
        
      </div>
    </div>
  </div>