<div class='review'>
    <div class = 'details'>
        <p class = 'username'>Username</p>
        <img class="userIcon" src="assets/images/european-shorthair-8267220_1280.jpg" alt="imagenPrueba">
        <p class = 'score'>9</p>
        <p class = 'date'>01/01/01</p>
    </div>
    <p class="body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta molestias expedita illum a amet unde autem quidem asperiores pariatur ducimus obcaecati nobis culpa maiores quod, delectus maxime tempora nisi eaque. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde dolorem quam nisi soluta molestias omnis recusandae officia earum et, vel eos placeat quidem nam ab expedita eum at ea necessitatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur placeat esse illum dolorem quia sed perspiciatis nobis sapiente ad laudantium maxime quidem deleniti nemo, voluptates ullam eos architecto consequuntur voluptas?</p>
</div>
