<div class="contenedor">
<div class='review'>
    <div class='details' *ngIf="review">
        <p class='username'>{{review.reviewer}}</p>
        <img class="userIcon" src="assets/images/european-shorthair-8267220_1280.jpg" alt="imagenPrueba">
        <p class='score' [ngClass]="{
            'score-10': review.punctuation == 10,
            'score-7to10': review.punctuation < 10 && review.punctuation >= 7,
            'score-4to7': review.punctuation < 7 && review.punctuation >= 4,
            'score-less-than-4': review.punctuation < 4
            }">{{review.punctuation}}</p>
        <p class='date'>{{review.date}}</p>
    </div>
    <p class="body">{{review.review}}</p>
    <div *ngIf="review.favourite">
        <p>Favourite song: {{tracksWithNumbers[review.favourite].name}}</p>
    </div>
    <div *ngIf="review.worst">
        <p>Least favourite song: {{tracksWithNumbers[review.worst].name}}</p>
    </div>
    <div *ngIf="review.underrated">
        <p>Underrated song: {{tracksWithNumbers[review.underrated].name}}</p>
    </div>
    <div *ngIf="review.overrated">
        <p>Overrated song: {{tracksWithNumbers[review.overrated].name}}</p>
    </div>
</div>
</div>
