<div class="full-width-div">
    <div class="todo">
        <div class="contenedor">
            <div class="parrafo-cont">
                <div>
                    <h1>about Albumize</h1>
                </div>
                <div class="cont-parrafo">
                    <p class="texto-titulo">Are you interested in music? Then you will definitely love Albumize. Here you can discover countless albums where you can search for your favourite artists or just check the new releases. Moreover, you can become a member to our community and contribute to help others by reviewing your favourite albums. Let's go!!!</p>
                </div>
            </div>
            <div class="foto-cont">
                <div class="foto"></div>
            </div>
        </div>
        <div class="barra">
            <div class="palabra">music <i class="fa-solid fa-check"></i></div>
            <div class="palabra">reviews <i class="fa-solid fa-check"></i></div>
            <div class="palabra">albums <i class="fa-solid fa-check"></i></div>
            <div class="palabra">music <i class="fa-solid fa-check"></i></div>
            <div class="palabra">reviews <i class="fa-solid fa-check"></i></div>
            <div class="palabra">albums <i class="fa-solid fa-check"></i></div>
            <div class="palabra">music <i class="fa-solid fa-check"></i></div>
            <div class="palabra">reviews <i class="fa-solid fa-check"></i></div>
            <div class="palabra">albums <i class="fa-solid fa-check"></i></div>
            <div class="palabra">music <i class="fa-solid fa-check"></i></div>
            <div class="palabra">reviews <i class="fa-solid fa-check"></i></div>
            <div class="palabra">albums <i class="fa-solid fa-check"></i></div>
            <div class="palabra">music <i class="fa-solid fa-check"></i></div>
            <div class="palabra">reviews <i class="fa-solid fa-check"></i></div>
            <div class="palabra">albums <i class="fa-solid fa-check"></i></div>
            <div class="palabra">music <i class="fa-solid fa-check"></i></div>
            <div class="palabra">reviews <i class="fa-solid fa-check"></i></div>
            <div class="palabra">albums <i class="fa-solid fa-check"></i></div>
          </div>
        <div class="contenedor">
            <div class="foto-cont">
                <div class="foto2"></div>
            </div>
            <div class="parrafo-cont">
                <div>
                    <h2>Our vision</h2>
                </div>
                <div class="cont-parrafo">
                    <p class="texto-titulo">Albumize was created with the sole purpose of bringing people together in order to help each other by sharing their thoughts and values of the music that they like. We dream to be one day the biggest community of music reviews.</p>
                </div>
            </div>
            
        </div>
        <div class="barra">
            <div class="palabra">music <i class="fa-solid fa-check"></i></div>
            <div class="palabra">reviews <i class="fa-solid fa-check"></i></div>
            <div class="palabra">albums <i class="fa-solid fa-check"></i></div>
            <div class="palabra">music <i class="fa-solid fa-check"></i></div>
            <div class="palabra">reviews <i class="fa-solid fa-check"></i></div>
            <div class="palabra">albums <i class="fa-solid fa-check"></i></div>
            <div class="palabra">music <i class="fa-solid fa-check"></i></div>
            <div class="palabra">reviews <i class="fa-solid fa-check"></i></div>
            <div class="palabra">albums <i class="fa-solid fa-check"></i></div>
            <div class="palabra">music <i class="fa-solid fa-check"></i></div>
            <div class="palabra">reviews <i class="fa-solid fa-check"></i></div>
            <div class="palabra">albums <i class="fa-solid fa-check"></i></div>
            <div class="palabra">music <i class="fa-solid fa-check"></i></div>
            <div class="palabra">reviews <i class="fa-solid fa-check"></i></div>
            <div class="palabra">albums <i class="fa-solid fa-check"></i></div>
            <div class="palabra">music <i class="fa-solid fa-check"></i></div>
            <div class="palabra">reviews <i class="fa-solid fa-check"></i></div>
            <div class="palabra">albums <i class="fa-solid fa-check"></i></div>
        </div>
        <div class="seccion-puntaje">
            <div class="container-puntaje">
                <div class="puntajes">
                    <div class="cont-titulo-puntaje">
                            <p class="titulo-puntaje">Discover the Albumize Score</p>
                        
                    </div>
                    <div class="div-circulo">
                        <div class="container-circulo">
                            <div class="circulo-puntaje1"><p class="numero">2.6</p></div>
                            <div class="circulo-puntaje2"><p class="numero">4.5</p></div>
                            <div class="circulo-puntaje3"><p class="numero">8.2</p></div>
                            <div class="circulo-puntaje4"><p class="numero">10</p></div>
                        </div>
                    </div>
                    <div class="desc-puntaje">
                        <p>The Albumize score is a single score that represents the critical consensus for albums.</p>
                    </div>
                    <div class="seccion-cuadrado">
                        <div class="cuadrado-puntajes">
                            <div class="foto-puntajes">
                                <div class="cuadradito1"><p class="numero">10</p></div>
                                <div class="cuadradito2"><p class="numero">7.4</p></div>
                                <div class="cuadradito3"><p class="numero">6.8</p></div>
                                <div class="cuadradito4"><p class="numero">1.5</p></div>
                            </div>
                            <div class="foto-puntajes">
                                <div class="cuadradito2"><p class="numero">8.3</p></div>
                                <div class="cuadradito1"><p class="numero">10</p></div>
                                <div class="cuadradito4"><p class="numero">1.8</p></div>
                                <div class="cuadradito3"><p class="numero">5.4</p></div>
                            </div>
                            <div class="foto-puntajes">
                                <div class="cuadradito3"><p class="numero">4</p></div>
                                <div class="cuadradito4"><p class="numero">2.5</p></div>
                                <div class="cuadradito1"><p class="numero">10</p></div>
                                <div class="cuadradito2"><p class="numero">9</p></div>
                            </div>
                            <div class="foto-puntajes">
                                <div class="cuadradito4"><p class="numero">3.4</p></div>
                                <div class="cuadradito3"><p class="numero">4.5</p></div>
                                <div class="cuadradito2"><p class="numero">7.5</p></div>
                                <div class="cuadradito1"><p class="numero">10</p></div>
                            </div>
                            

                        </div>
                        <div class="desc-cuadrado">
                            <div class="container-titulohow">
                                <div class="titulo-how"><p class="parrafo-how">How we create the Score</p></div>

                            </div>
                            <div class="cuadrado-descripcion">
                                
                                <div class="punto-1">
                                    <div class="numero-1"><p>1</p></div>
                                    <div><p class="texto">The weighted average of those scores results in a single number and color</p></div>
                                </div>
                                <div class="punto-2">
                                    <div class="numero-1"><p>2</p></div>
                                    <div><p class="texto">Your score helps to create a average score to share within the community </p></div>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                    
                
                </div>
                
            </div>
            <div class="info-pag">
                
                <div class="city">
                    <div class="titulo-info">
                        <div class="titulo">
                            <p>City</p>
                        </div>
                        <div class="info">
                            <p>Mar del Plata</p>
                        </div>
                    </div>
                    <div class="titulo-info">
                        <div class="titulo">
                            <p>Founded</p>
                        </div>
                        <div class="info">
                            <p>2023</p>
                        </div>
                    </div>
                    <div class="titulo-info">
                         <div class="titulo">
                            <p>Country</p>
                         </div>
                         <div class="info">
                             <p>Argentina</p>
                        </div>
                    </div>
                   
                </div>
                <div class="seccion-joinus">
                    <div class="container-texto"><p class="texto-joinus">Join our Albumize Community</p></div>
                    <div class="container-boton"><button type="button"  class="boton-joinus" data-bs-toggle="modal" data-bs-target="#registerBackdrop" id="register-button">
                        Register
                       </button></div>

                </div>
              
    
            </div>
            
            
            

        </div>
        
        

    </div>
    
</div>
