<button class="boton-enviar" [routerLink]="['/album/modify-review/', idAlbum]" [state]="{ review: userReview }">Edit review</button>
<button class="boton-reviews" routerLink="/album-reviews/{{idAlbum}}">See all reviews</button>
<div class="container">
    <div class='review'>
        <div class='details' *ngIf="userReview">
            <p class='username'>{{userReview.reviewer}}</p>
            <img class="userIcon" [src]="album.images[0].url" alt="imagen del album">
            <p class='score' [ngClass]="{
                'score-10': userReview.punctuation == 10,
                'score-7to10': userReview.punctuation < 10 && userReview.punctuation >= 7,
                'score-4to7': userReview.punctuation < 7 && userReview.punctuation >= 4,
                'score-less-than-4': userReview.punctuation < 4
                }">{{userReview.punctuation}}</p>
             <app-share-buttons class="share-buttons"></app-share-buttons>   
            <p class='date'>{{userReview.date}}</p>
        </div>
        <div class="body" *ngIf="userReview.review">
            <p>{{userReview.review}}</p>
        </div>
        <div class="selections">
            <div *ngIf="userReview.favourite !== undefined && userReview.favourite !== null">
                <p>Favourite song: {{truncateSongName(tracksWithNumbers[userReview.favourite].name)}}</p>
            </div>
            <div *ngIf="userReview.worst !== undefined && userReview.worst !== null">
                <p>Least favourite song: {{truncateSongName(tracksWithNumbers[userReview.worst].name)}}</p>
            </div>
            <div *ngIf="userReview.underrated !== undefined && userReview.underrated !== null">
                <p>Underrated song: {{truncateSongName(tracksWithNumbers[userReview.underrated].name)}}</p>
            </div>
            <div *ngIf="userReview.overrated !== undefined && userReview.overrated !== null">
                <p>Overrated song: {{truncateSongName(tracksWithNumbers[userReview.overrated].name)}}</p>
            </div>
        </div>
    </div>
</div>
