<div class="botones">
<button class="boton-enviar" [routerLink]="['/album/modify-review/', idAlbum]" [state]="{ review: userReview }">Edit review</button>
<button class="boton-reviews" routerLink="/album-reviews/{{idAlbum}}">See all reviews</button>
</div>
<div class="container">
    <div class='review'>
        <div class='details' *ngIf="userReview">
            <p class='username'>{{userReview.reviewer}}</p>
            <img class="userIcon" [src]="album.images[0].url" alt="imagen del album">
            <p class='score' [ngClass]="{
                'score-10': userReview.punctuation == 10,
                'score-7to10': userReview.punctuation < 10 && userReview.punctuation >= 7,
                'score-4to7': userReview.punctuation < 7 && userReview.punctuation >= 4,
                'score-less-than-4': userReview.punctuation < 4
                }">{{userReview.punctuation}}</p>
             <app-share-buttons class="share-buttons"></app-share-buttons>   
            <div class="dateAndButton">
             <p class='date'>{{userReview.date}}</p>
            <a type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" class="deleteBtn" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash3-fill"  viewBox="0 0 16 16">
                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
             </svg></a>
            </div>
             <!-- Modal -->
             <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered">
                 <div class="modal-content">
                   <div class="modal-header">
                     <h1 class="text-black modal-title fs-5" id="exampleModalLabel">Delete a Review</h1>
                     <button type="button" class="btn-close btn-close-custom" data-bs-dismiss="modal" aria-label="Close"></button>
                   </div>
                   <div class="modal-body text-black">
                     Are you sure you want to delete your review permanently?
                   </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go Back</button>
                     <button (click)="deleteReview()"  type="button" class="btn btn-primary">Yes</button>
                   </div>
                 </div>
               </div>
             </div>
        </div>
        <div class="body" *ngIf="userReview.review">
            <p>{{userReview.review}}</p>
        </div>
        <div class="selections">
            <div *ngIf="userReview.favourite !== undefined && userReview.favourite !== null">
                <p>Favourite song: {{truncateSongName(tracksWithNumbers[userReview.favourite].name)}}</p>
            </div>
            <div *ngIf="userReview.worst !== undefined && userReview.worst !== null">
                <p>Least favourite song: {{truncateSongName(tracksWithNumbers[userReview.worst].name)}}</p>
            </div>
            <div *ngIf="userReview.underrated !== undefined && userReview.underrated !== null">
                <p>Underrated song: {{truncateSongName(tracksWithNumbers[userReview.underrated].name)}}</p>
            </div>
            <div *ngIf="userReview.overrated !== undefined && userReview.overrated !== null">
                <p>Overrated song: {{truncateSongName(tracksWithNumbers[userReview.overrated].name)}}</p>
            </div>
        </div>
    </div>
</div>
