.whole{
    padding-left: 8%;
    padding-right: 8%;
}

.text{
    padding-right: 1rem;
    font-size: x-large;
}

button{
    font-size: x-large;
    border-radius: 5px;
    float: right;
    margin-left: 1rem;
}

.opciones{
    font-size: large;
}