.whole {
    display: flex;
    align-items: center; 
    width: 80%;
    margin: 0 auto; 
}

.opciones-container {
    width: 100%;
}

.text {
    font-size: x-large;
    margin-right: 1rem;
}

button {
    font-size: x-large;
    border-radius: 5px;
}

.opciones {
    font-size: large;
}

.write{
    margin-left: 35rem;
}

.lista{
    margin-left: 1rem;
}