<div class = "whole">
    <label for="opciones" class="text">Sort by:</label>
        <select class="opciones" name="opciones">
            <option value="opcion1">Most recent</option>
            <option value="opcion2">Oldest</option>
            <option value="opcion3">From highest to lowest</option>
            <option value="opcion4">From lowest to highest</option>
        </select>
    <button class="write">Write a review</button>
    <button class="lista" routerLink="/album/{{idAlbum}}">View tracklist</button>
</div>
