<div class="whole">
    <form [formGroup]="formulario" class="form-container">
        <label for="opciones" class="text">Sort by:</label>
        <select (change)="onSortBy()" class="opciones" name="opciones" formControlName="selectedSort">
            <option selected value="opcion1">Most recent</option>
            <option value="opcion2">Oldest</option>
            <option value="opcion3">From highest to lowest</option>
            <option value="opcion4">From lowest to highest</option>
        </select>
    </form>
    <button class="tracklist" routerLink="/album/{{idAlbum}}">Your review / View tracklist</button>
</div>
