

.share-btn{
  transition: all 0.3s ease; 
  width: 25px;
  height: 25px;
}

@media(max-width:768px){
  .share-btn{
    width: 15px;
    height: 15px;
  }
  
}

@media(max-width:768px){
  .modal-dialog{
    width: 90vw;
    margin: 0 auto;
  }
}

.share-btn:hover{
  width: 35px; 
  height: 35px; 
}

.share-btn-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  padding: 0;
}
  
@media(max-width:768px){
  .share-btn-container {
    gap: 0.5rem;
  }
    
}
.share-btn-container a i {
  font-size: 35px;
}

@media(max-width:768px){
  .share-btn-container a i {
    font-size: 30px;
  }
  
}
  
.share-btn-container a {
  border-radius: 20%;
  padding: 0.5rem;
  margin: 12px 0;
  transition: 500ms;
}
  
.share-btn-container a:hover {
  transform: scale(1.2);
}
  
.facebook-btn {
  background-color: #3b5998;
}
  
.twitter-btn {
  background-color: #1da1f2;
}

.instagram-btn{
  background-color: #f21d1d;
}
  
.linkedin-btn {
  background-color: #0077b5;
}

.pinterest-btn {
  background-color: #bd081c;
}  

.whatsapp-btn {
  background-color: #15c81e;
}

i{
  color: white;
}