<button type="btn" class="btn" style="background-color: rgb(157, 0, 255);" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
      <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
    </svg></span>
  </button>
  
  <!-- Vertically centered modal -->
  
  <div class="modal fade" tabindex="-1" id="exampleModal">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title text-bg-dark">Compartir en redes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex flex-column justify-content-center">
          <div class="share-btn-container">
            <a href="https://www.facebook.com/sharer.php?u={{postUrl}}" class="facebook-btn">
              <i class="fab fa-facebook"></i>
            </a>
           
            <a [href]="facebook" class="twitter-btn">
              <i class="fab fa-twitter"></i>
            </a>
  
            <a (click)="postInstagram()" class="instagram-btn">
              <i class="fab fa-instagram"></i>
            </a>
  
            <a (click)="postPinterest()" class="pinterest-btn">
              <i class="fab fa-pinterest"></i>
            </a>
  
            <a (click)="postTwitter()" class="linkedin-btn">
              <i class="fab fa-linkedin"></i>
            </a>
  
            <a (click)="postWhatsapp()" class="whatsapp-btn">
              <i class="fab fa-whatsapp"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>